@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <!-- Container -->
    <div class="content-wrap">

        <section class="container-fluid" data-section="home">

            <!-- Personal Flexy Section -->
            <div class="row flex-row">
                <!-- Personal Details 01 -->
                <div id="details" class="col-md-8 flex-column bg-color01 light nopadding" data-animation-origin="left"
                    data-animation-duration="300" data-animation-delay="400" data-animation-distance="200px">
                    <div class="padding-50 flex-panel">
                        <div class="row row-no-padding">
                            <div class="col-md-12 nopadding">
                                <h3 class="font-accident-two-normal uppercase title">About Me</h3>
                                <div class="quote">
                                    <h4 class="font-accident-one-normal uppercase subtitle">Software Engineer</h4>
                                    <h4 class="font-accident-one-normal uppercase subtitle">Azure Developer Associate
                                    </h4>
                                    <h4 class="font-accident-one-normal uppercase subtitle">Devops Engineer
                                    </h4>
                                    <h4 class="font-accident-one-normal uppercase subtitle">Azure Cloud Solutions
                                        Architect</h4>
                                    <div class="dividewhite3"></div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-dynamic"></div>
                        <div class="row nopadding">
                            <p class="">
                                I am a Software engineer with over eight years of professional experience
                                in developing and implementing desktop and web-based solutions.
                                I have led development work and pioneered in evolving development processes at several
                                companies. I am a certified professional in Azure cloud and have a passion
                                for architecting cloud first experiences. I'm currently focused on developing entreprise
                                information systems ranging from distributed systems and collaboration software.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Personal Details 02 -->
                <div id="personal" class="col-md-4 flex-column light ui-block-color01 personal"
                    data-animation-origin="right" data-animation-duration="500" data-animation-delay="600"
                    data-animation-distance="100px">
                    <div class="padding-50 flex-panel">
                        <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
                        <div class="dividewhite4"></div>
                        <div>
                            <div class="fullwidth box">
                                <div class="one">
                                    <p class="uppercase">LinkedIn</p>
                                </div>
                                <div class="two"><a href="https://www.linkedin.com/in/alex-maina-44544a2b/">..click
                                        here..</a></div>
                            </div>
                            <div class="is-full-width box">
                                <div class="one">
                                    <p class="uppercase">Location</p>
                                </div>
                                <div class="two">Nairobi, Kenya</div>
                            </div>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>
                </div>
                <!-- /Personal Details 02 -->
            </div>
            <!-- /Personal Flexy Section -->

        </section>

        <section id="professional" class="container-fluid" data-section="home">

            <div class="row flex-row">

                <div id="pro-experience" class="col-md-4 flex-column dark nopadding ui-block-color02 flex-col"
                    data-animation-origin="bottom" data-animation-duration="300" data-animation-delay="800"
                    data-animation-distance="200px">
                    <div class="padding-50 flex-panel">
                        <h3 class="font-accident-two-normal uppercase title">Experience</h3>
                        <div class="dividewhite4"></div>
                        <div class="experience">
                            <ul class="">
                                <li class="date">2021 - Current</li>
                                <li class="company uppercase">
                                    <a>
                                        Software Engineer, Devops
                                    </a>
                                </li>
                            </ul>
                            <ul class="">
                                <li class="date">2018 - 2021</li>
                                <li class="company uppercase">
                                    <a>
                                        Senior Analyst Programmer
                                    </a>
                                </li>
                            </ul>
                            <ul class="">
                                <li class="date">2016 - 2017</li>
                                <li class="company uppercase">
                                    <a>
                                        Analyst Programmer
                                    </a>
                                </li>
                            </ul>
                            <ul class="">
                                <li class="date">2015 - 2016</li>
                                <li class="company uppercase">
                                    <a>
                                        .NET Software Consultant
                                    </a>
                                </li>
                            </ul>
                            <ul class="">
                                <li class="date">2012 - 2015</li>
                                <li class="company uppercase">
                                    <a>
                                        Lead Software Developer
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>-->
                        <div class="dividewhite1"></div>
                    </div>
                </div>
                <div id="circle-skills" class="col-md-8 flex-column dark nopadding ui-block-color03 flex-col"
                    data-section="progress" data-animation-origin="right" data-animation-duration="400"
                    data-animation-delay="1100" data-animation-distance="200px">
                    <div class="padding-50 flex-panel">
                        <h3 class="font-accident-two-normal uppercase title">Professional skills</h3>
                        <div class="dividewhite1"></div>
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">

                                    <h4 class="font-accident-two-bold uppercase">Web Applications</h4>
                                    <p class="font-regular-normal">
                                        Asp.Net MVC 5
                                    </p>
                                    <p class="font-regular-normal">
                                        Asp.Net Core
                                    </p>
                                    <p class="font-regular-normal">
                                        Angular
                                    </p>
                                    <p class="font-regular-normal">
                                        React
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs"> </a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">

                                    <h4 class="font-accident-two-bold uppercase">Cloud</h4>
                                    <p class="font-regular-normal">
                                        <li>Azure Solutions Architect</li>
                                        <li>Azure devops</li>
                                        <li>Azure cloud administration</li>                                        
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">
                                    <h4 class="font-accident-two-bold uppercase">DevOps</h4>
                                    <p class="font-regular-normal">
                                        Microsoft Professional Program For DevOps.
                                    </p>
                                    <p class="font-regular-normal">
                                        Microsoft Certified Devops Engineer Expert
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">

                                    <h4 class="font-accident-two-bold uppercase">Languages</h4>
                                    <p class="font-regular-normal">
                                        C#, Javascript, TypeScript, Java
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs"> </a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">

                                    <h4 class="font-accident-two-bold uppercase">Technologies</h4>
                                    <p class="font-regular-normal">
                                        ASP.NET (MVC), .NET Core, Angular , HTML, MSSQL Server,
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                                <div class="progressbar text-center">

                                    <h4 class="font-accident-two-bold uppercase">Networking</h4>
                                    <p class="font-regular-normal">
                                        Certified Cisco Networking Associate (CCNA)
                                    </p>
                                    <!--<a href="resume.html" class="btn btn-wh-trans btn-xs">Learn More</a>-->
                                </div>
                                <div class="dividewhite1"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </section>

</div>